<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatWhirl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<style>
    body{
        overflow-y: hidden;
    }
</style>
<body>
    <section class="chat-console">
        <header>
            <div class="flx">
                <img src="../public/favicon.ico"alt="loading.."/>
                <h4><%= roomName %></h4><span>(<%= key %>)</span>
            </div>
            <div class="menu">
                <img src="../image/avater-7.png" alt="loading.."/>
                <div class="btn" onclick="invalid();"><i class="fa fa-ellipsis-v"></i></div>
            </div>
        </header>
        <div id="chat-box">
            <div class="myMessage">
                <div class="userDp">
                    <img src="../public/favicon.ico" alt="loading..">
                </div>
                <div class="messageStr">Wecome to ChatWhirl</div>
            </div>
        </div>
        <form id="chat-form">
            <textarea type="text" row="3" class="form-controler" id="message" placeholder="Message here" required></textarea>
            <button type="submit" class="send">
                <div class="circle">
                    <i class="fa fa-send"></i>
                </div>
            </button>
        </form>
    </section>
<script src="../public/App.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    try{
        const socket = io();

        socket.emit('join', '<%= key %>');

        const chatForm = document.getElementById('chat-form');
        const messageInput = document.getElementById('message');
        const chatBox = document.getElementById('chat-box');

        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            socket.emit('message', { key: '<%= key %>', message });
            messageInput.value = '';
        });

        socket.on('message', (message) => {
            const messageElement = document.createElement('div');
            messageElement.classList.add("myMessage");
            messageElement.innerHTML = `
            <div class="userDp">
                <img src="../image/avater-7.png" alt="loading.."/>
            </div>
            <div class="messageStr">${message}</div>`;
            chatBox.appendChild(messageElement);
        });
    }catch(e){
        alert(e);
    }
</script>
</body>
</html>